<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.gitee.welkinfast.admin.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="io.gitee.welkinfast.admin.mapper.dao.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `user_name`, nick_name, avatar, `password`, salt, email, mobile, `status`, dept_id,
        create_by, create_time, last_update_by, last_update_time, del_flag
    </sql>
    <sql id="No_Password_Column_List">
        <!--@mbg.generated-->
        id, `user_name`, nick_name, avatar, email, mobile, `status`, dept_id,
        create_by, create_time, last_update_by, last_update_time, del_flag
    </sql>
</mapper>
